@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: #222;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

header {
  position: relative;
}

.wrapper {
  width: 100%;
}

.lmn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 19, 19);
  height: 75px;
}

.menu {
  margin-right: 30px;
  color: aliceblue;
  display: flex;
}

.cart {
  cursor: pointer;
}

.cart:hover {
  color: lightgoldenrodyellow;
}

header .shop-cart {
  position: absolute;
  top: 65px;
  right: 30px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0px 0px 31px 0px rgba(34, 60, 80, 0.3);
  min-height: 100px;
  background: gray;
  z-index: 1000;
  padding: 20px;
  padding-bottom: 0;
}

header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

header .shop-cart .empty h3 {
  font-size: 20px;
  text-align: center;
}

header .shop-cart .item img {
  width: 150px;
  float: left;
  max-width: 100px;
}

header .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

header .shop-cart .item p {
  color: darkseagreen;
  font-weight: 600;
}

header .logo {
  margin-left: 30px;
  font-weight: 600;
  font-size: 15px;
  color: aliceblue;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 30px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

header ul.nav li:hover {
  opacity: 0.5;
}

header .presentation {
  background: url("./images/iphone_13.jpg") no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

header .presentation::after {
  content: "iPhone 13 Pro Max";
  position: absolute;
  top: 50px;
  left: 525px;
  width: 500px;
  font-size: 40px;
  font-weight: 600;
}

header .presentation::before {
  content: "Better than you";
  position: absolute;
  top: 100px;
  left: 600px;
  width: 500px;
  font-size: 24px;
  font-weight: 600;
}

.header-items {
  margin-top: 40px;
  text-align: center;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px 50px;
}

main .item {
  width: 25%;
  margin-bottom: 50px;
  box-shadow: 0px 0px 28px 10px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  transition: transform 500ms ease;
  position: relative;
  padding-bottom: 20px;
}

main .item img {
  width: 100%;
}

main .item img:hover {
  transform: scale(1.05);
}

main h2,
main p,
main b {
  margin: 10px 20px;
  color: #333;
}

main .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}

main .add-to-cart:hover {
  transform: scale(1.2) translateX(-5px) translateY(-5px);
}

footer {
  text-align: center;
  margin-top: 50px;
}
