@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: #222;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

header {
  position: relative;
}

.header {
  width: 100%;
  opacity: 0.9;
  background-color: #313232;
}

.wrapper {
  width: 100%;
}

.lmn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 19, 19);
  height: 75px;
}

.menu {
  margin-right: 30px;
  color: aliceblue;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.cart {
  margin-left: 30px;
  cursor: pointer;
}

.cart:hover {
  color: lightgoldenrodyellow;
}

header .shop-cart {
  position: absolute;
  top: 65px;
  right: 30px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0px 0px 31px 0px rgba(34, 60, 80, 0.3);
  min-height: 100px;
  background: gray;
  z-index: 1000;
  padding: 20px;
  padding-bottom: 0;
}

header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

header .shop-cart .total-price {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

header .shop-cart .item .delete-icon {
  float: right;
  position: relative;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

header .shop-cart .empty h3 {
  font-size: 20px;
  text-align: center;
}

header .shop-cart .item img {
  width: 150px;
  float: left;
  max-width: 100px;
}

header .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

header .shop-cart .item p {
  color: darkseagreen;
  font-weight: 600;
}

header .shop-cart .item .disc {
  margin-left: 30px;
}

header .logo {
  margin-left: 30px;
  font-weight: 600;
  font-size: 15px;
  color: aliceblue;
}

header ul.nav {
  display: flex;
  align-items: center;
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 30px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

header ul.nav li:hover {
  opacity: 0.5;
}

/* header .presentation {
  background: url("./img/iphone_13.jpg") no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  position: relative;
} */

header .presentation img {
  width: 100%;
  height: 670px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

header .presentation .text {
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -10%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

/* header .presentation::after {
  content: "iPhone 13 Pro Max";
  position: absolute;
  top: 50px;
  left: 525px;
  width: 500px;
  font-size: 40px;
  font-weight: 600;
} */

/* header .presentation::before {
  content: "Better than you";
  position: absolute;
  top: 100px;
  left: 600px;
  width: 500px;
  font-size: 24px;
  font-weight: 600;
} */

.header-items {
  text-align: center;
  font-size: 30px;
}

.header-disc {
  text-align: center;
  margin: 20px auto;
  font-size: 30px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 25px;
}

.categories div {
  cursor: pointer;
  transition: transform 500ms ease;
}

.categories div:hover {
  transform: scale(1.25);
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px auto;
}

main .item {
  width: 27%;
  margin-bottom: 50px;
  box-shadow: 0px 0px 28px 10px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  transition: transform 500ms ease;
  position: relative;
  padding-bottom: 20px;
}

main .item .info {
  display: flex;
  flex-direction: column;
}

main .item img {
  width: 100%;
}

main .item:hover {
  transform: scale(1.05);
}

main h2,
main p,
main b {
  margin: 10px 20px;
  color: #333;
}

main .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}

main .add-to-cart:hover {
  transform: scale(1.2) translateX(-5px) translateY(-5px);
}

footer {
  font-size: 13px;
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-direction: column;
}

footer .bottom-menu {
  display: flex;
  justify-content: space-around;
}

footer ul {
  display: flex;
  list-style: none;
}

footer ul li {
  padding: 0 10px;
  border-right: 1px solid #222;
  cursor: pointer;
}

footer ul li:last-child {
  border-right: 1px solid #fff;
}

footer .line {
  width: 75%;
  border-bottom: 1px solid rgb(180, 180, 180);
  margin: 15px auto;
}

.compDisc .presentation .text {
  color: #fff;
  top: 300px;
}

/* form */

.container-form header {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
}
.container-form {
  margin: 40px auto;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-row label {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

input {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #f0f1f8;
  padding: 0 20px;
  margin-bottom: 2px;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
}

label {
  font-size: 16px;
  padding-left: 5px;
}

.container-form .checkbox {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
}

.container-form .checkbox input {
  width: 50px;
}

textarea {
  display: block;
  box-sizing: padding-box;
  overflow: hidden;
  padding: 10px;
  width: 95%;
  max-width: 100%;
  font-size: 14px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(black, 0.3);
}

.container-form button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.container-form button:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* intros */
.intro-home {
  max-width: 1440px;
  margin: 10px auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfd;
}

.intro-text {
  font-size: 40px;
  text-align: center;
  padding-bottom: 1px;
}

.shop-now {
  color: #0266cc;
}

.shop-now:hover {
  text-decoration: underline;
}

.intro-home p {
  text-align: center;
}
.intro-home a {
  text-decoration: none;
}

.intro-home a:hover {
  cursor: pointer;
}

.intro-image {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .intro-image {
    width: 330px;
  }
}

.intro-subtext {
  font-size: 25px;
}

.intro-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.intro-cards .intro-home {
  width: 48%;
}

.intro-cards .intro-home:nth-child(3) {
  background-color: #f5f5f7;
}

.intro-cards .intro-home:nth-child(4) {
  background-color: #000;
  color: white;
}

/* news */
.news {
  display: flex;
  flex-direction: column;
}

.header-blog {
  text-align: center;
  margin-bottom: 50px;
}

.news-blog {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.news-block {
  display: flex;
  padding: 30px 10px;
  margin: 25px auto;
  max-width: 1000px;
  align-items: center;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.news-block:hover {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.text-block {
  width: 70%;
}

.main-block {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-block .author-date-block {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 600;
}

.main-block .text-block {
  font-size: 16px;
}

.main-block .title-block a {
  text-decoration: none;
  color: #000;
}

.main-block .title-block a:hover {
  color: #f03359;
}

.img-block {
  max-width: 400px;
}

/* news button */
.news-button {
  width: 20%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.news-button:after {
  content: "";
  background-color: #f03359;
  width: 100%;
  z-index: -1;
  position: absolute;
  border-radius: 10px;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.news-button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .news-button {
    padding: 13px 50px 13px;
  }
}

/* video container */

.video-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 25px;
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 14px 28px,
    rgba(0, 0, 0, 0.55) 0px 10px 10px;
}

.video-container header {
  font-size: 24px;
  text-align: center;
}

.video-container main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.video-container main .video {
  border: 2px solid black;
  border-radius: 30px;
}

.video-container main div {
  width: 45%;
  font-size: 18px;
  text-align: center;
  margin: 20px auto;
}

.video-container main div h2 {
  margin-top: 50px;
  color: white;
  transition: transform 500ms ease;
}

.video-container main div h2:hover {
  -webkit-transform: scale(1.1);
  color: rgb(200, 200, 200);
  transform: scale(1.2) translateX(-5px) translateY(-5px);
}

.video-container:hover {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 28px 48px,
    rgba(0, 0, 0, 0.45) 0px 20px 20px;
  transition: 0.4s;
}

/* info container mac*/

.all-container-box {
  max-width: 1440px;
  margin: 0 auto;
}

.all-containers {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  align-items: center;
}

.all-containers-header {
  margin-top: 70px;
  text-align: center;
}

.all-containers-boxes {
  display: flex;
  flex-wrap: wrap;
}

.info-container {
  border-radius: 30px;
  margin: 30px;
}

.info-container:hover {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 28px 48px,
    rgba(0, 0, 0, 0.45) 0px 20px 20px;
  transition: 0.4s;
}

.info-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* discription mac*/

.disc-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.discription {
  max-width: 750px;
  margin: 50px;
  padding: 50px;
  width: 45%;
  font-size: 30px;
  color: #fff;
  background: #dc2424; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #4a569d,
    #dc2424
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 28px 48px,
    rgba(0, 0, 0, 0.45) 0px 20px 20px;
}

/* .discription:hover {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 28px 48px,
    rgba(0, 0, 0, 0.45) 0px 20px 20px;
  transition: 0.4s;
} */

.discription-main p {
  font-weight: 600;
}

.s-discription {
  text-align: center;
  margin: 50px;
  padding: 30px;
  width: 30%;
  font-size: 24px;
  border-radius: 30px;
  background: #141516;
  color: gray;
  max-width: 550px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 28px 48px,
    rgba(0, 0, 0, 0.45) 0px 20px 20px;
}

/* .s-discription:hover {
  
  transition: 0.4s;
} */

.s-discription h1 {
  color: white;
}

.s-discription p {
  color: white;
}

.s-discription-main img {
  width: 100%;
}

/* iphone  */

#disc-iphone .s-discription {
  background-color: #000;
}

#disc-iphone .discription {
  background-color: #000;
  background: #12c2e9; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ipad */

#disc-ipad .s-discription {
  background-color: #000;
}

#disc-ipad .discription {
  background-color: #000;
  background: #8a2387; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#disc-ipad .discription p {
  color: rgb(215, 215, 215);
}
